.jumbotron {
  background-color: #213259;
  color: white;
  text-align: center;

}



body {
    background-color: rgb(253, 253, 253);
}

.lead {
    text-align: left;
}

.btn  {
    background-color: #213259;
}